
@use "./lib" as *;

html,
body,
#id_AppMapPage,
#id_Map
{
	@include full-screen;
}

a {
	text-decoration: none;
	cursor: pointer;
}
.menu-selector {
	cursor: context-menu;
	user-select: none;
}

// app header styles
#id_AppPageTitle {
	z-index: 999999;
	position: absolute;
	top: 0;
	left: calc(50% - #{$menu-width / 2});
	width: $menu-width;
	padding: 3px 0 0 0;
	height: $header-size - 3px;
	margin: 0;
	font: 16px "Times New Roman", Times, serif;
	text-align: center;
	background-color: $menu-bgcolor;
	color: #fff;
	border-radius: 0 0 $menu-radius $menu-radius;
}
#id_AppPageTitle::before { content: "\021F3"; padding-right:10px; color: green;}
#id_AppPageTitle.menu-active {border-radius: $menu-radius $menu-radius 0 0;}
// app menu
div.app-menu {
	@include screen-minus;
	user-select: none;
}
.app-menu nav {
	position: absolute;
	top: 0;
	left: 50%;
	width: $menu-width;
	margin: 0 0 0 #{0px - ($menu-width / 2)};
	padding: 10px 0;
	background-color: $menu-bgcolor;
	color: white;
	border-radius: 0 0 $menu-radius $menu-radius;
	overflow: auto;
	max-height: 70%;
}
.app-menu a {
	display: block;
	margin: 0;
	padding: 4px 12px;
	color: white;
}
.app-menu a:hover {
	color: #111;
	background-color: white;
}

// leaflet updates for header
div.leaflet-top {
    top: $header-size + 10px;
}

.leaflet-right .leaflet-control {
    margin-right: 6px;
}

.leaflet-top .leaflet-control {
    margin-top: 2px;
}

// app primary page styles
#id_AppInfoScreen {
	@include overlay-screen;
}
div.info-container {
	color: #111;
	background: white;
	max-width: 994px;
	height: 80%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	border: solid $menu-bgcolor 3px;
}
div.info-header {
	height: $header-size;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#id_CloseAppInfoBtn {
	z-index: 9999991;
	display: block;
	position: absolute;
	top: 4px;
	left: calc(50% + min(50%,500px) - 28px);
	width: 12px;
	height: 18px;
	padding: 3px 6px;
	border: 0;
	font-size: 16px;
	text-align: center;
	font-weight: bolder;
	color: white;
	background: $menu-bgcolor;
	border-radius: 5px;
}
#id_CloseAppInfoBtn:hover {background: #a00;}
div.info-content {
	padding: 12px;
	height: calc(100% - #{$header-size} - 24px - 2px);
	font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	overflow: auto;
}
.info-content div > h1:first-child {
	display: none;
}
.info-content img[src*="#center"] {
	display: block;
	max-width: 80%;
	margin: auto;
}
.info-content img[src*="#inline"] {
	display: inline;
	border: 0;
	max-height: 16px;
}

img.fvrlogo {
	width: 50px;
	opacity: 1;
}
a:visited img.fvrlogo {
	opacity: 0.5;
}
a.btn {
	display: block;
	width: 140px;
	border: solid 1px black;
	border-radius: 4px;
	text-decoration: none;
	padding: 3px 10px;
	background: #ccffcc;
	margin: 15px auto;
	text-align: center;
}
