// This is the main file for the CSS styles in the vlp app.
// The webpack config automatically detects and bundles all
// images that are referenced from this.

@import "~leaflet/dist/leaflet";
@import "~leaflet-measure/dist/leaflet-measure";
@import "~leaflet.markercluster/dist/MarkerCluster";
@import "~leaflet.markercluster/dist/MarkerCluster.Default";
@import "./leaflet/GroupedLayersControl";
@import "./leaflet/yahControl";
@import "./font/fvricons";
@import "./css/modal";
@import "./css/whatsnew";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
}
.menu-selector {
	cursor: context-menu;
}

// app header styles
header {
	display: block;
	width: 100%;
	height: 28px;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	color: #eee;
	user-select: none;
}
header > div {
	display: block;
	height: 28px;
	border: 0;
	background-color: black;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 0px 10px;
	font: 16px "Times New Roman", Times, serif;
}
header > div > span {
	line-height: 28px;
	vertical-align: middle;
}
#id_AppPageMenuBtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
}
#id_AppPageTitle {
	position: absolute;
	top: 0;
	left: 34px;
}
#id_AppPageTitle span:nth-of-type(2)::before {
	content: ": ";
}

// app primary content styles
.main-content {
	display: none;
	width: 100%;
	height: calc(100% - 28px);
	border: 0;
	margin: 0;
	padding: 0;
}
.main-content.active {
	display: block;
}
div.map-page > div {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div.info-page {
	overflow: auto;
}
div.info-content {
	color: #1a1a3a;
	max-width: 1350px;
	margin: 0;
	padding: 4px 15px;
}
.info-content > h1:first-child {
	display: none;
}
.main-content img[src*="#center"] {
	display: block;
	max-width: 80%;
	margin: auto;
}
.main-content img[src*="#inline"] {
	display: inline;
	border: 0;
	max-height: 16px;
}

// app left side menu
#win-mainmenu {
	position: absolute;
	left: 0px;
	top: 28px;
	height: calc(100% - 28px);
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	user-select: none;
}
nav.lsmenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 70%;
	max-width: 400px;
	overflow: auto;
	padding: 10px 5px;
	background-color: #111;
	color: white;
}
.lsmenu a {
	display: block;
	margin: 0;
	padding: 4px 12px;
	color: white;
}
.lsmenu a:hover {
	color: #111;
	background-color: white;
}

img.fvrlogo {
	width: 50px;
	opacity: 1;
}
a:visited img.fvrlogo {
	opacity: 0.5;
}
a.btn {
	display: block;
	width: 140px;
	border: solid 1px black;
	border-radius: 4px;
	text-decoration: none;
	padding: 3px 10px;
	background: #ccffcc;
	margin: 15px auto;
	text-align: center;
}
