#vlp-modal {
	display: none;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	overflow:none;
}

#vlp-modal-content {
	background-color: #fefefe;
	margin: 30px auto;
	padding: 10px;
	border: 1px solid #888;
	border-radius: 12px;
	width: 85%;
	height:90%;
}

#vlp-modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
	font-size: 28px;
	font-weight: bold;
	border-radius: 8px;
}

#vlp-modal-close {
	float: right;
}

#vlp-modal-close:hover,
#vlp-modal-close:focus {
	color: black;
	cursor: pointer;
}

#vlp-modal-body {
	margin-top:10px;
	height:calc(100% - 48px);
	overflow:auto;
	padding:0 8px;
}

#vlp-modal-body summary {
	cursor: pointer;
	padding:4px;
}

#vlp-modal-body summary:hover {
	background: #AACCff;
}

#vlp-modal-body img[src*='#center'] {
	display: block;
	max-width: 80%;
	margin: auto;
}

#vlp-modal-body img[src*='#inline'] {
	display: inline;
	border:0;
	max-height: 16px;
}
